html, body {
  margin: 0;
  padding: 0;
  background: #101010;
  overflow: hidden;
}

body #starter {
  position: absolute;
  z-index: 2;
  display: none;
  width: 400px;
}

body #starter #logo {
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 65px;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 4px 0 #000, 0 -4px 0 #000, -4px 0 0 #000, 4px 0 0 #000;
}

body #starter #play {
  margin: 30px auto;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  background: #6FAF35;
  box-shadow: 0 6px 0 #4D7A25, 0 -6px 0 #4D7A25, -6px 0 0 #4D7A25, 6px 0 0 #4D7A25;
  cursor: pointer;
  box-sizing: border-box;
}

body #starter #play:hover {
  background: #659e2e;
  box-shadow: 0 6px 0 #426a1f, 0 -6px 0 #426a1f, -6px 0 0 #426a1f, 6px 0 0 #426a1f;
}

body #starter #play:hover:active {
  background: #598d29;
  box-shadow: 0 6px 0 #385a1a, 0 -6px 0 #385a1a, -6px 0 0 #385a1a, 6px 0 0 #385a1a;
}

body #game {
  display: none;
}

body #game #canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

body #background {
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
}
