html, body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

body #loading {
  position: absolute;
  z-index: 2;
  display: none;
  width: 500px;
  height: 500px;
}

body #story {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  margin-left: -500px;
	height: 50em;
  font-size: 32px;
	line-height: 64px;
  z-index: 2;
  width: 1000px;
  color: #FFFF66;
  text-shadow: 0 4px 0 #000, 0 -4px 0 #000, -4px 0 0 #000, 4px 0 0 #000;
	text-align: left;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  overflow: hidden;
  display: none;
}

body #story.animate #content {
  -o-animation: story 40s linear 4s;
  -moz-animation: story 40s linear 4s;
  -webkit-animation: story 40s linear 4s;
  animation: story 40s linear 4s;
}

body #story #overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,0.02) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(34%,rgba(0,0,0,1)), color-stop(99%,rgba(0,0,0,0.02)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

body #story #content {
  position: absolute;
  top: 100%;
  z-index: 3;
}

@-webkit-keyframes story {
	0% {
    top: 100%;
  }
	100% {
    top: -100%;
  }
}

@-moz-keyframes story {
	0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
	100% {
    top: -100%;
    opacity: 0;
  }
}

@-o-keyframes story {
	0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
	100% {
    top: -100%;
    opacity: 0;
  }
}

@keyframes story {
	0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
	100% {
    top: -100%;
    opacity: 0;
  }
}

body #story center {
  text-align: center;
}

body #starter {
  position: absolute;
  z-index: 2;
  display: none;
  width: 500px;
}

body #starter #logo {
  width: 100%;
  font-size: 65px;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 4px 0 #000, 0 -4px 0 #000, -4px 0 0 #000, 4px 0 0 #000;
}

body #starter #highscores {
  color: #fff;
  border: dashed 5px #fff;
  padding: 20px;
  margin: 30px -6px;
  display: none;
}

body #starter #highscores #title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}

body #starter #highscores .score {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  zoom: 1;
}

body #starter #highscores .score .name {
  float: left;
}

body #starter #highscores .score .cors {
  float: right;
}

body #starter #play {
  margin: 30px auto;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 32px;
  background: #6FAF35;
  box-shadow: 0 6px 0 #4D7A25, 0 -6px 0 #4D7A25, -6px 0 0 #4D7A25, 6px 0 0 #4D7A25;
  cursor: pointer;
  box-sizing: border-box;
}

body #starter #play:hover {
  background: #659e2e;
  box-shadow: 0 6px 0 #426a1f, 0 -6px 0 #426a1f, -6px 0 0 #426a1f, 6px 0 0 #426a1f;
}

body #starter #play:hover:active {
  background: #598d29;
  box-shadow: 0 6px 0 #385a1a, 0 -6px 0 #385a1a, -6px 0 0 #385a1a, 6px 0 0 #385a1a;
}

body #starter #instructions {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 18px;
}

body #starter #arrowKeys {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 2;
  width: 200px;
}

body #starter #arrowKeys div {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}

body #starter #arrowKeys img {
  width: 100%;
  display: block;
}

body #game {
  display: none;
}

body #game #score {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  line-height: 35px;
  z-index: 2;
  font-size: 22px;
}

body #game #energy-bar {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  padding: 2px;
  width: 180px;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 0 #6FAF35, 0 -4px 0 #6FAF35, -4px 0 0 #6FAF35, 4px 0 0 #6FAF35;
}

body #game #energy-bar #bar {
  width: 100%;
  height: 100%;
  background: #6FAF35;
}

body #game #energy-bar.mid {
  box-shadow: 0 4px 0 #2E97DE, 0 -4px 0 #2E97DE, -4px 0 0 #2E97DE, 4px 0 0 #2E97DE;
}

body #game #energy-bar.mid #bar {
  background: #46AADF;
}

body #game #energy-bar.low {
  box-shadow: 0 4px 0 #C12D37, 0 -4px 0 #C12D37, -4px 0 0 #C12D37, 4px 0 0 #C12D37;
}

body #game #energy-bar.low #bar {
  background: #C12D37;
}

body #game #drilling {
  position: absolute;
  z-index: 2;
  width: 450px;
  height: 450px;
  background: url("/images/asteriod.png");
  background-size: cover;
  border-radius: 50%;
  display: none;
  overflow: hidden;
}

body #game #drilling #drill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #6FAF35;
  z-index: 1;
  opacity: 0.8;
}

body #game #drilling #space {
  width: 100%;
  text-align: center;
  font-size: 18px;
  z-index: 2;
  color: #fff;
}

body #game #drilling.mid #drill {
  background: #2E97DE;
}

body #game #drilling.low #drill {
  background: #C12D37;
}

body #game #drilling.depleted #drill {
  background: #a7262e;
}

body #game #canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

body #background {
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
}
